<ion-header>
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
        color="primary"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title color="primary">inicio</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/profile.jpg">
      </ion-avatar>
    </ion-buttons>
  
  </ion-toolbar>

 
</ion-header>

<ion-content>

  <ion-chip color="primary" outline="true">
    <ion-avatar>
      <img src="/assets/profile.jpg">
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item >
      <ion-avatar slot="start">
        <img src="/assets/profile.jpg">
      </ion-avatar>
      <ion-label>Profile</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
